.singleProduct {
	width: 270px;
	height: 365px;
	margin-bottom: 30px;
	position: relative;
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
}

.productImg {
	margin: 30px auto;
}

.productImg img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;
}

.productTitle {
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 700;
}

.productPrice {
	margin-bottom: 30px;
	color: #ff5912;
	font-size: 18px;
	font-weight: 700;
	align-self: center;
}

.productHover {
	position: absolute;
	visibility: hidden;
	margin-top: 195px;
	margin-bottom: 30px;
	width: 140px;
	min-height: 140px;
}

.productVariations {
	border-bottom: 1px solid #f2f4f7;
}

.productVariations p {
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 400;
}

.productBtns {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.singleProduct:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.singleProduct:hover .productTitle {
	color: #ff5912;
}

.singleProduct:hover .productPrice {
	visibility: hidden;
}

.singleProduct:hover .productHover {
	visibility: visible;
	cursor: pointer;
}

.singleProduct:hover .productImg {
	max-width: 22%;
}
