.icoBtn {
	border: 0;
	cursor: pointer;
	background-color: #ffffff;
}

.loadText {
	color: #ff5912;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

/*Product page block*/
.productsFlex {
  display: flex;
  justify-content: space-between;
	box-sizing: border-box;
}

.contentFlex {
	width: 870px;
	order: 2;
  display: flex;
	flex-flow: row wrap;
  justify-content: space-between;
}

.widgetFlex {
	width: 270px;
	order: 1;
	display: flex;
	flex-flow: column nowrap;
}
