.logInForm {
  width: 285px;
  min-height: 350px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

.formInput {
  margin-bottom: 30px;
  width: 100%;
}

.formInput label {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.formInput input {
}

.formInput p {
  text-align: right;
}
